body {
  background-color: #F4FBFF;
}

a {
  color: #2F7DD0;
}

.red {
  color: red;
}

.blue {
  color: blue;
}

.refreshDiv {
  font-size: 0.7em;
}

/**
list page
**/
.list-title {
    margin: 10px 0px;
    font-weight: bold;
    font-size: 1.3em;
}

.list-sub-title {
    font-size: 0.7em;
}

.list-body div {
    padding: 10px 0px;
}


/**
grid
**/
.grid-2 {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

/**
datatable
**/
.dataTables_wrapper .dataTables_filter{
    float: left;
}

.dataTables_wrapper .dataTables_length {
    float: right;
}


/**
.tooltip
**/
.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #81BEF7BB;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 999;
  top: 2px;
  left: 110%;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent #81BEF7BB transparent transparent;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
}


/**
index.html
**/
.index-page {
  margin: 0;
  overscroll-behavior-y: contain;
}

.index-page #navbar {
  background-color: #81BEF7;
  position: fixed;
  top: 0;
  width: 100%;
  height: 50px;
  display: block;
  transition: top 0.3s;
}

.index-page #navbar a {
  width: 100%;
  float: left;
  display: block;
  color: #f2f2f2;
  vertical-align: center;
  text-align: center;
  padding: 8px 0;
  text-decoration: none;
  font-size: 30px;
}

.index-page #navbar a:hover {
  background-color: #3a99f2;
  color: f2f2f2;
}

.index-page iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    border: none;
    overflow-y: auto;
    overflow-x: hidden;
}

.index-page #iframeDiv {
    padding:0px 0px 0px 0px;
    font-size:30px;
    margin-top:50px;
}


/**
home.html
**/
.home-page {
  padding: 0;
  margin: 0;
}

.home-page #weather-bar {
  overflow: hidden;
  padding: 0px 5px;
  background-color: #F7E282;
  font-size:10px;
}

.home-page #weather-bar #swt-bar {
  padding: 0px 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.home-page #weather-bar a {
  color: red;
  text-decoration: none;
}

.home-page #version {
  vertical-align: top;
  float: right; 
  color: grey;
}

.home-page .grid-container {
  display: grid;
  grid-template-columns: 50% auto;
  padding: 0;
  margin: 0;
}

.home-page .grid-container > a,
.home-page .grid-container > div {
  border: 0px;
  padding: 35px 15px;
  font-weight: bold;

  font-size: 100%;
}

.home-page .grid-container > a {
  padding: 35px 15px;
  text-align: center;
  text-shadow: -1px 0 grey, 0 1px grey, 1px 0 grey, 0 -1px grey;
  text-decoration: none;
  color: #FFFFFF;
}



.home-page .grid-container > a > div input {
  text-align: center;
}


.home-page .grid-container > div {
  padding: 10px 5px;
}

.home-page .grid-container > div > div {
  padding: 5px 0px;
}

.home-page .grid-container > .icon {
    text-align: center;
}

.home-page .grid-container > .icon > div > img {
    width: 20%
}

.home-page .grid-container > .icon > div a {
   margin: 0px 1px;
}

.home-page .grid-container > div a {
  padding: 0px 5px;
  text-decoration: none;
  color: black;
}

.home-page a > img {
  display: block;
  padding-bottom: 10px;
  margin: 0 auto;
  width: 50%;
}

.home-page #signal-bar img {
  width: 30px;
  padding: 0px 2px;
}

.home-page .red {
    background-color: #FCC7D2;
}

.home-page .light-red {
    background-color: #FCDAC7;
}

.home-page .green {
    background-color: #BEFEBF;
}

.home-page .light-green {
    background-color: #C7FCE2;
}

.home-page .blue {
    background-color: #B0CCEF;
}

.home-page .light-blue {
    background-color: #C7E9FC;
}

.home-page .yellow {
    background-color: #E9FF94;
}

.home-page .light-yellow {
    background-color: #FCFAC7;
}

.home-page .orange {
    background-color: #FBDC85;
}



/**
Table
**/
th.dt-center, td.dt-center { 
    text-align: center; 
}

table.dataTable th {
    font-size: 0.5em;
}

table.dataTable td{
    font-size: 0.6em;
}

.paginate_button{
    font-size: 0.5em;
}

/**
bus-interchange.html
**/

.bus-interchange .input-div > * {
    font-size: 1.3em;
}

.bus-interchange #route-num, 
.bus-interchange #route-select {
    width: 150px;
}

.bus-interchange .bus-title {
    font-size: 1.5em;
}


.bus-interchange .bus-error-msg {
    padding-top: 10px;
    color: red;
}


/**
bus-eta.hhtml
**/
.bus-eta-page #menu-button {
    display: none;
}

.bus-eta-page .dataTables_wrapper .dataTables_filter input {
    width: 130px;
    font-size: 1.3em;
}

.bus-eta-page .dataTables_wrapper .highlight {
    font-size: 1em;
}

.bus-eta-page #busRouteInfo {
    margin: 10px 0px;
    padding: 5px  0px;
    border: 2px dotted;
    display: none;
}

.bus-eta-page #busRouteInfo-Data {
    font-size: 1.5em;
}

.bus-eta-page .busStopDiv {
    padding: 10px 0px 0px 0px;
}

.bus-eta-page .busStopTitle {
    padding: 10px 0px 0px 0px;
}

.bus-eta-page .busStopDiv .busStopDiv-seq {
    padding: 0px 2px 0px 0px;
}

.bus-eta-page .busStopDiv .busStopDiv-name {
    padding: 0px 5px 0px 0px;
    font-weight: bold;
}

.bus-eta-page .busStopDiv .busStopDiv-other {
    padding: 0px 5px 0px 0px;
}

.bus-eta-page .etaDiv {
    margin: 0px 5px;
    padding: 0px 5px;
    border: 2px solid orange;
    border-radius: 12px;
    display: none;
}

.bus-eta-page .etaDiv.bus-stop {
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.bus-eta-page .etaDiv .etaStop-seq-1{
    margin-top: 10px;
}


.bus-eta-page .etaDiv .eta-detail-route {
    font-weight: bold;
    font-size: 1.3em;
}

.bus-eta-page .etaDiv .end{
    color: #DDDDDD;
}

.bus-eta-page .etaDiv .operating .eta-detail{
    font-weight: bold;
}

.bus-eta-page .etaDiv .operating .eta-detail.seq1{
    color: red;
}



/**
mtr-eta.hhtml
**/
.mtr-eta-page .dataTables_wrapper .dataTables_filter input {
    width: 100px;
    font-size: 1.3em;
}

.mtr-eta-page #stationInfo {
    margin: 10px 0px;
    padding: 5px  0px;
    border: 2px dotted;
    display: none;
}

.mtr-eta-page #stationInfo-Data {
    font-size: 1.5em;
}

.mtr-eta-page .eta-platform {
    padding: 5px 0 0 0;
    font-size: 1.2em;
}

.mtr-eta-page .etaDiv {
    margin: 0px 5px;
    padding: 0px 5px;
    border: 2px solid orange;
    border-radius: 12px;
}

.mtr-eta-page .etaDiv .eta-detail-route {
    font-weight: bold;
    font-size: 1.3em;
}

.mtr-eta-page .etaDiv .eta-detail{
    font-weight: bold;
    color: red;
}
