header {
    vertical-align: middle;
    text-align: center; 
    color: white;
    font-size: 2em;
}

.header-body {
    background: grey;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}


th.dt-center, td.dt-center { 
    text-align: center; 
}

table.dataTable th {
    font-size: 0.5em;
}

table.dataTable td{
    font-size: 0.6em;
}

.bus-title {
    font-size: 1.5em;
}
