test1=2023-02-14|dsadasd|asdasdasdasd|addasdad|asdasd
test2=hahahahah|💙|💛|end
0804a23=恭喜你！|可以睇我上次歌唱比賽既片段|💙💛
5201314=恭喜你！|一齊聽下第一個Morning call|💙💛
131925=恭喜你！|獲得我既Travel Blog Link|💙💛
09251bb=恭喜你！|獲得我第一次旅行既靚仔相一張|💙💛
131425b=恭喜你！|一齊聽我2016年唱歌錄音|💙💛
2303274=恭喜你！|獲得我中學靚仔相一張|💙💛
song1=當我思緒不夠集中時|連忙擲出心思創意|唯求做我的燈塔 照亮鬥志|想抱緊你任由時間過|輕輕的唱情歌|心境平和 蜚語流言不想聽太多|請確保你未來陪我過|就算日子不好過|未忘記愛 |忘記有人苦苦撐住我
20210214b1=經典BBB|雀巢甜筒 5件|(朱古力+自選口味)|🌹
20210214bb1=你果然鐘意食M記！|同M記好有緣|Ｍ記Double新地|(朱古力+自選口味)|或|麥旋轉風|🌷
20210214bbb1=你鐘意食既甜品！|阿波羅MONAKA 2件|(朱古力+自選口味)|🌼
20210214bbbb1=恭喜你拎到大獎！！！！|MOVENPICK|迷你經典派對多件裝雪糕 4件|🌹🌷🌺🌼🌸💐
20210214bbbbb1=BB果然支持黃店！💛|85雪糕大雙球|(朱古力+自選口味)|🌸
20220214b2=維他BBB|維他朱古力奶|🥛
20220214bb2=堅果BBB|NUTTEA朱古力堅果奶|🥜
20220214bbb2=外星人BBB|茶星人朱古力脆皮黑洞系列|🕳️
20220214bbbb2=功夫BBB|手作功夫茶朱古力可可|🥋
20220214bbbbb2=你果然鐘意食M記！|M記朱古力|🍟
20230214b3=慳錢BBB|超市普通朱古力|🍫
20230214bb3=好味BBB|比利時朱古力|🇧🇪
20230214bbb3=白之戀BBB|日本朱古力|🇯🇵
20230214bbbb3=MedaBBB|韓國朱古力|🇰🇷
20230214bbbbb3=有選擇的BBB|自選朱古力|😋