香港國際財經台(76),國際財經
HOY TV(77),^hoy tv$|開電視
HOY資訊台(78),hoy資訊台|hoy tv 資訊台|78資訊台
翡翠台(81),翡翠台|翡翠4k
TVB Plus(82),tvb plus
無綫新聞台(83),無綫新聞台|^news 新聞台$
明珠台(84),明珠台
SUPER FREE,super free
娛樂新聞台,娛樂新聞台
美亞電影台,美亞
TVB華語劇台,華語劇台
鳳凰衛視中文台,鳳凰衛視中文|鳳凰中文
鳳凰衛視資訊台,鳳凰衛視資訊|鳳凰資訊
鳳凰衛視香港台,鳳凰衛視香港台|鳳凰香港台
港台電視31,港台電視31|港台電視 31|港台电视31
港台電視32,港台電視32|港台電視 32|港台电视32
港台電視36,港台電視36|rthk36|港台电视36
CCTV-1 港澳版(33),cctv-1|港台电视33
CGTN documentary(34),cgtn documentary|港台电视34
CGTN English(35),cgtn english|港台电视35
ViuTV(99),^viutv$|viutv99
ViuTV Six(96),viutv six|viutv96
Now Sports Prime(630),now sports prime|now精選體育
Now Sports 英超1台(621),英超一台|英超1台|now premier league 1
Now Sports 英超2台(622),英超二台|英超2台|now premier league 2
Now Sports 英超3台(623),英超三台|英超3台|now premier league 3
Now Sports 2(632),632|Now Sports 2
now新聞台(332),now news 新聞台|now新聞台
now財經台(333),now財經台
now爆谷電影台(133),now爆谷電影台|爆谷台
now爆谷星影台(138),星影台
CCTV 5,cctv 5$|cctv 5 |cctv5體育頻道|cctv5$
CCTV 5+,cctv 5\+|cctv5\+
CCTV 16,cctv 16|cctv16
CCTV 4,cctv 4|中文國際台
CCTV 13,cctv 13|中央新聞台
上海五星体育,上海五星体育
北京衛視,北京卫视|北京衛視
湖南衛視,湖南卫视|湖南衛視
江蘇衛視,江苏卫视|江蘇衛視
浙江衛視,浙江卫视|浙江衛視
廣東珠江,珠江
博斯無限一台,無限台|無限一台
博斯魅力台,魅力
博斯高球一台,高球1台|高球台
博斯高球二台,高球2台|高球二台
博斯運動一台,運動1台|運動一台
博斯運動一台,運動2台|運動二台
TNT Sports 1,tnt sports 1|tnt sport 1
TNT Sports 2,tnt sports 2|tnt sport 2
TNT Sports 3,tnt sports 3|tnt sport 3
TNT Sports 4,tnt sports 4|tnt sport 4
MLB TV,mlb tv|mlb network
ESPN 2,espn2|espn 2
ESPN U,espnu|espn U
Sky Sports Premier League,sky sports premier league|sky sports 英超
Premier Sports 1,premier sports 1|premier sports1
Premier Sports 2,premier sports 2|premier sports2
ESPN News,espn news|espnews
ESPN U,espn u|espnu
澳視澳門,澳視澳門|澳视澳门
澳門資訊,澳門資訊|澳视资讯
SPOTV1,spotv$|spotv 1
SPOTV2,spotv2|spotv 2
beIN SPORTS1,bein sports$|bein sports 1
beIN SPORTS2,bein sports 2
beIN SPORTS3,bein sports 3