香港國際財經台(76),國際財經
HOY TV(77),^hoy tv$|開電視
HOY資訊台(78),hoy資訊台|hoy tv 資訊台|78資訊台
翡翠台(81),翡翠台|翡翠4k
TVB Plus(82),tvb plus
無綫新聞台(83),無綫新聞台|news 新聞台
明珠台(84),明珠台
明珠台(84),明珠台
SUPER FREE,super free
娛樂新聞台,娛樂新聞台
美亞電影台,美亞
TVB華語劇台,華語劇台
鳳凰衛視中文台,鳳凰衛視中文|鳳凰中文
鳳凰衛視資訊台,鳳凰衛視資訊|鳳凰資訊
鳳凰衛視香港台,鳳凰衛視香港台|鳳凰香港台
港台電視31,港台電視31|港台電視 31|港台电视31
港台電視32,港台電視32|港台電視 32|港台电视32
港台電視36,港台電視36|rthk36|港台电视36
CCTV-1 港澳版(33),cctv-1|港台电视33
CGTN documentary(34),cgtn documentary|港台电视34
CGTN English(35),cgtn english|港台电视35
ViuTV(99),^viutv$|viutv99
ViuTV Six(96),viutv six|viutv96
Now Sports Prime(630),now sports prime|now精選體育
Now Sports 英超1台(621),英超一台|英超1台
now新聞台(332),now news 新聞台|now新聞台
now財經台(333),now財經台
now爆谷電影台(133),now爆谷電影台
now爆谷星影台(138),星影台
CCTV 5,cctv 5$|cctv 5 |cctv5體育頻道
CCTV 5+,cctv 5\+|cctv5\+
CCTV 16,cctv 16|cctv16
博斯無限一台,無限台|無限一台
博斯魅力台,魅力
博斯高球一台,高球1台|高球台
博斯高球二台,高球2台|高球二台
博斯運動一台,運動1台|運動一台
博斯運動一台,運動2台|運動二台
TNT Sports 1,tnt sports 1|tnt sport 1
TNT Sports 2,tnt sports 2|tnt sport 2
TNT Sports 3,tnt sports 3|tnt sport 3
TNT Sports 4,tnt sports 4|tnt sport 4
MLB TV,mlb
ESPN 2,espn2|espn 2
ESPN U,espnu|espn U