香港國際財經台(76),國際財經
HOY TV(77),^HOY TV$|開電視
HOY資訊台(78),HOY資訊台|HOY TV 資訊台|78資訊台
翡翠台(81),翡翠台
翡翠4K(81),翡翠4K
TVB Plus(82),TVB Plus|TVB PLUS
無綫新聞台(83),無綫新聞台|News 新聞台
明珠台(84),明珠台
明珠台(84),明珠台
SUPER FREE,SUPER FREE
娛樂新聞台,娛樂新聞台
鳳凰衛視中文台,鳳凰衛視中文|鳳凰中文
鳳凰衛視資訊台,鳳凰衛視資訊|鳳凰資訊
鳳凰衛視香港台,鳳凰衛視香港台|鳳凰香港台
港台電視31,港台電視31|港台電視 31|港台电视31
港台電視32,港台電視32|港台電視 32|港台电视32
港台電視36,港台電視36|RTHK36|港台电视36
CCTV-1 港澳版(33),CCTV-1|港台电视33
CGTN Documentary(34),CGTN Documentary|港台电视34
CGTN English(35),CGTN English|港台电视35
ViuTV(99),^ViuTV$|ViuTV99
ViuTV Six(96),ViuTV Six|ViuTV96
Now Sports Prime(630),Now Sports Prime|now精選體育
Now Sports 英超1台(621),英超一台|英超1台
now新聞台(332),Now NEWS 新聞台|now新聞台
now財經台(333),now財經台
CCTV 5,CCTV 5$|CCTV 5 |CCTV5體育頻道
CCTV 5+,CCTV 5\+|CCTV5\+
CCTV 16,CCTV 16|CCTV16
博斯無限一台,無限台|無限一台
博斯魅力台,魅力
博斯高球一台,高球1台|高球台
博斯高球二台,高球2台|高球二台
博斯運動一台,運動1台|運動一台
博斯運動一台,運動2台|運動二台
TNT Sports 1,TNT Sports 1|TNT Sport 1
TNT Sports 2,TNT Sports 2|TNT Sport 2
TNT Sports 3,TNT Sports 3|TNT Sport 3
TNT Sports 4,TNT Sports 4|TNT Sport 4
MLB TV,MLB
ESPN 2,ESPN2|ESPN 2
ESPN U,ESPNU|ESPN U
