version=25
defaultChannelTitle=HOY TV 77
ggiptvHost=m.iptv345.com
gdtvKey=89541443007807288657755311869534
forceExo=^nowtv|^rthk$|^fb|^teslagram|^exoCustom|^tw$|^livetv_14$|^gdtv_43$|^utvExo$|^satellite|^rtmp|^viu$|^mytv|^tvfix|^cable
hbzbSourceType=3
hbzbHost=
sfHost=m.gxhxdh.cn
frogHost=qwzb8.com
htzbHost=htzb.vip
liveTopName=大超|锐探|永拿|尼佬|OK仔|GB联盟|一旗|肖国栋
liveHotType=MLB|CPBL|棒球|中職|香港|F1|港超
rtmpHost=9sv2.mine.nu
dockerHost=https://pixman-function-3xtnu7psdq-df.a.run.app
chinaM3u=itv_proxy.m3u
hideFuncList=tvfix2_
hkdtmbUrl=https://live.hkdvb.com/hls/playlist.m3u?token=370227955719730
hkdtmbId=rawts
hkdtmbPw=hkdtmb.com
chinaProxy=http://www.gowahu.com/read/index.php?q=
m3u=
streamLinkUrl=https://www.stream-link.org/stream-link.m3u
custom1=
custom2=
exoCustom1=
exoCustom2=
youtubeCustom1=430XYwg96Nw
youtubeCustom2=0bIRwBpBcZQ
