version=24
defaultChannelTitle=HOY TV 77
ggiptvHost=m.iptv345.com
gdtvKey=89541443007807288657755311869534
forceExo=^nowtv|^rthk$|^fb|^teslagram|^exoCustom|^tw$|^livetv_14$|^gdtv_43$|^utvExo$|^satellite|^rtmp|^viu$|^mytv|^tvfix|^cable
hbzbSourceType=3
hbzbHost=
sfHost=haixing.tv
frogHost=qwzb8.com
htzbHost=htzb.vip
liveTopName=大超|锐探|永拿|尼佬|OK仔|GB联盟|一旗|肖国栋
liveHotType=MLB|香港|CPBL|英超|西甲|意甲|德甲|F1|港超|中職|棒球
rtmpHost=9sv2.mine.nu
hideFuncList=tvfix2_
hkdtmbUrl=https://live.hkdvb.com/hls/playlist.m3u?token=370227955781537
hkdtmbId=rawts
hkdtmbPw=hkdtmb.com
m3u=http://34.133.224.239:5050/4gtv.m3u
streamLinkUrl=https://www.stream-link.org/stream-link.m3u
custom1=
custom2=
exoCustom1=http://ali.hlspull.yximgs.com/live/a4ac0bc8986752b03edd672649e449c3.flv
exoCustom2=http://ali.hlspull.yximgs.com/live/ee54c3b0b754ade334bd21d7dc728aa8.flv
youtubeCustom1=430XYwg96Nw
youtubeCustom2=0bIRwBpBcZQ
