version=16
defaultChannelTitle=HOY TV 77
ggiptvHost=m.iptv345.com
gdtvKey=89541443007807288657755311869534
forceExo=^nowtv|^rthk$|^fb|^teslagram|^exoCustom|^tw$|^livetv_14$|^gdtv_43$|^utvExo$|^satellite|^rtmp|^viu$|^mytv|^tvfix|^cable
hbzbHotType=MLB|香港|CPBL|英超|西甲|意甲|德甲|F1
hbzbSourceType=3
hbzbHost=heibai588
ljHost=api.hujing.pub
rtmpHost=fsv4.yj011.net,218.32.29.20
hideFuncList=tvfix2_
m3u=
custom1=
custom2=
exoCustom1=http://uc6.i-cable.com/live_freedirect/hd202_h.live/playlist.m3u8
exoCustom2=