CSL|apm|45分鐘×n|38|8041267c1d80
CSL|Telford Plaza|30分鐘×n|84|88663948a100
CSL|Pizza Hut|60分鐘×1|104|2CE6CC28B630
CSL|PHD|60分鐘×1|105|D4684D3EC8A0
CSL|Maritime Square|30分鐘×n|57|28b448396140
CSL|Paradise Mall|30分鐘×n|86|e02861443f00
CSL| ELEMENTS|30分鐘×n|58|e868195607e0
CSL|LWB Free|30分鐘×2|264|D4684D325820
CSL|Delifrance via CSL|30分鐘×2|240|84183A232DB0
CSL|7-Eleven Free Wifi|30分鐘×1|117|2CE6CC28AEF0
CSL|Circle K Free Wi-Fi|30分鐘×1|148|2CE6CC0E2830
CSL|Wi-Fi.HK via CSL|30分鐘×1|162|2CE6CC0E2830
CSL|Yuen Long Plaza|20分鐘×3|61|543D37072A30
CSL|Jade Free WiFi|20分鐘×3|227|D4684D3F2710
CSL|CTF-Free WIFI|20分鐘×3|146|84183A245580
CSL|Free KFC via CSL|20分鐘×1|95|049fca011b20
CSL|MTR Free Wi-Fi|15分鐘×5|28|58B6333C0D50
CSL|KMB Free|15分鐘×2|271|D838FC1BBED0
CSL|CSL|5分鐘×2|67|D4684D3F2A80 
CSL|Yuen Long Plaza|5分鐘×2|255|543D37072A30
CSL|apm|5分鐘×2|255|8041267c1d80
CSL|Pizza Hut|5分鐘×2|255|2CE6CC28B630
CSL|Free KFC via CSL|5分鐘×2|255|049fca011b20
Y5ZONE|Metropolis Plaza|60分鐘×n|mpp|||1
Y5ZONE|McDonald's|60分鐘×4||||2
Y5ZONE|McDonald's|Y5 60分鐘×4|mcd2||login|0
Y5ZONE|-+New+Town+Plaza-|45分鐘×n|ntp_v2|30:87:d9:12:66:60|agreement|0
Y5ZONE|Wi-Fi.HK+via+New+Town+Plaza|30分鐘×1|wifi_hk_ntp|30:87:d9:12:66:60|agreement|0
Y5ZONE|Wi-Fi.HK+via+Metropolis+Plaza|30分鐘×1|wifi_hk_mpp|2c:5d:93:08:80:d0|agreement|0
Y5ZONE|Wi-Fi.HK via Y5ZONE|30分鐘×1|wifi_hk_y5||login|0
Y5ZONE|-Free HKBN Wi-Fi 15-|15分鐘×1|hkbnfree||freelogin|0
RUIJIE|BOCHK-WiFi|無限時|G1PD562030278
RUIJIE|CCB-COMMERCE|無限時|G1MQCWQ01275A
RUIJIE|Wi-Fi.HK via BOCHK|45分鐘×2|G1PD562030278
RUIJIE|Lai Kok SC_Free_WiFi|30分鐘×1|G1NT7LK07779C
HGC|信和宏天|60分鐘×n|freeuser@sino_045|sino_group_freepass
HGC|佳定利東|60分鐘×1|freeuser@guardian_017|guardian_pass
HGC|領展太和|30分鐘×1|freeuser@link_067|link_pass
HGC|Wi-Fi.HK|30分鐘×1|freeuser@wifi_hk|wifi_hk_freepass
HGC|萬事達廣場|30分鐘×1|freeuser@mount_sterling_mall|mount_sterling_mall_freepass
INFO|CSL > 交通(九巴/愉景灣渡輪), 便利店(7-Eleven/OK/759/VanGo), 餐廳(Delifrance/Pacific/Starbucks/PizzaHut/KFC/稻香/牛角/牛涮鍋/黑心集團), 商場(元朗廣場/大埔超級城/朗豪坊/德福/apm), 商店(CSL/余仁生/周大福/元創方/領域), 運動(文化中心/旺角大球場/紅館), 電話亭, 大學, 賽馬會
INFO|Y5ZONE > 麥當勞, 香港寛頻, Citic中信電訊, 新鴻基商場
INFO|HGC > 商場(領展/信和/佳定/和記/又一城), 和記(豐澤/屈臣氏/3Shop/百佳), 馬會 
INFO|RUIJIE > 中銀, 建行, 基滙資本商場
INFO|GOV WIFI > 政府場地, 公園, 沙田市中心巴士站
INFO|BizNetvigator > 渣打, 莎莎, 東亞
INFO|HKBN ES > 中原地產, HSBC
INFO|HKBN Infi > 上水中心, 大家樂